/* Layout */
/****** Mixins ******/
.arrow {
  width: 0px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 201px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid black;
  margin-left: 68px;
}
.empty_field_error {
  background-color: #000000;
  border-radius: 10px 10px 10px 10px;
  color: #FFFFFF;
  display: none;
  width: 170px;
  margin-left: 10px;
}
.empty_field_error p {
  padding: 10px 0px;
}
h1 {
  font: 30px 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
/*  Select Styles  */
#location {
  width: 250px;
}
#returned_data p {
  margin-left: 5px;
}
