/* Layout */
/****** Mixins ******/
.arrow {
  width: 0px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 141px;
  left: 16px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #444444;
}
.empty_field_error {
  background-color: #444444;
  border-radius: 8px;
  border: solid 1px #333333;
  color: #FFFFFF;
  display: none;
  padding: 5px 2px 0 2px;
  width: 170px;
  margin-top: 20px;
  text-align: center;
}
h1 {
  font: 30px 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
/*  Select Styles  */
#location {
  width: 250px;
}
#returned_data p {
  margin-left: 5px;
}
