/* Layout */
/****** Mixins ******/
.arrow {
  width: 0px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 201px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid black;
  margin-left: 68px;
}
body {
  background-color: #e3f6ff;
  font: 400 1em/1.4em Helvetica, Arial, sans-serif;
}
.empty_field_error {
  background-color: #000000;
  border-radius: 10px 10px 10px 10px;
  color: #FFFFFF;
  display: none;
  width: 170px;
  margin-left: 10px;
}
.empty_field_error p {
  text-align: center;
  padding: 10px 0px;
}
#grab_data button {
  font-size: .8em;
  height: 30px;
}
#grab_data input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  padding: 3px;
  width: 200px;
}
#grab_data h3 {
  text-align: center;
}
h1 {
  font: 30px 'Montserrat', sans-serif;
  text-align: center;
}
.hidden {
  display: none;
}
/*  Select Styles  */
#location {
  width: 250px;
  height: 30px;
}
#returned_data p {
  margin-left: 5px;
}
#wrapper {
  width: 302px;
  margin: 100px auto;
}
